# Refactor commit
snippet r "refactor"
	refactor: ${1}

# Fix commit
snippet fi "fix"
	fix: ${1}

# Chore commit
snippet c "chore"
	chore: ${1}

# Build commit
snippet b "build"
	build: ${1}

# Feat commit
snippet f "feat"
	feat: ${1}

# Test commit
snippet t "test"
	test: ${1}
