.config/nvim/plugged/**/*

.config/coc/**/*

.config/configstore/**/*

.config/karabiner/assets/**

.config/karabiner/automatic_backups/**

.config/gatsby

.config/gh

.config/gcloud

.config/nvim/plugin

.config/raycast/

.config/AWSVPNClient

**/*/.netrwhist
