[alias]
	st = status --short
	df = diff --name-only
	chk = checkout .
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	dc = diff --cached
	adi = add -i
	rmu = !git stash save --keep-index --include-untracked '' && git stash drop
	cn = commit --no-verify
	pn = push --no-verify
	cdf = clean -df
	grp=grep --heading --break --line-number --ignore-case
[core]
	editor = nvim
	pager = less
[color "grep"]
	linenumber = yellow bold
	match = red
	filename = magenta
